@keyframes animation-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animation-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animation-bottom {
  0% {
    transform: translate(100%, 200%);
  }

  16% {
    transform: translate(200%, 100%);
  }

  33% {
    transform: translate(200%, 0%);
  }

  50% {
    transform: translate(100%, -100%);
  }

  66% {
    transform: translate(0%, 0%);
  }

  83% {
    transform: translate(0%, 100%);
  }

  100% {
    transform: translate(100%, 200%);
  }


}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

img {
  display: block;
}

nav {
  width: 100%;
  height: 50px;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  z-index: 500;
}

nav #logo {
  font-family: "Limelight", cursive;
  font-size: 30px;
  color: white;
  padding: 10px;
  float: left;
}

nav #navbar {
  float: right;
}

nav #navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 15px 10px;
  color: white;
}

nav #navbar ul li a {
  text-decoration: none;
  color: white;
}

.active {
  background-color: rgb(1, 78, 78);
}

nav #navbar ul li:hover {
  opacity: 0.5;
}

/* HAMBURGER MENU */

.menu-icon {
  position: absolute;
  top: 3px;
  right: 3px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  display: none;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* LEAD */

#lead {
  width: 100%;
  background-color: white;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#lead .lead_description {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  padding-top: 100px;
  color: rgb(233, 230, 230);
  z-index: 50;
}

#lead .lead_description h1 {
  font-size: 4em;
  text-shadow: 3px 3px 3px #404040;
  animation: animation-left 1s linear 0s;
}

#lead .lead_description p {
  font-size: 2em;
  padding: 20px;
  text-shadow: 2px 2px 2px #797878;
  animation: animation-left 1s linear 0s;
}

#lead div button {
  width: 250px;
  height: 80px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #797979;
  background-color: transparent;
  transition: 1000ms;
  border: 2px solid #10486994;;
  border-radius: 30px;
  color: #10486994;
  font-size: 35px;
  margin-top: 20px;
  padding: 10px;
  animation: animation-right 1s linear 0s;
}

#lead div button a {
  text-decoration: none;
  color: #10486994;
}
#lead div button:hover {
  background-color: #0a2e42af;
  font-size: 38px;
  transition: 1000ms;
}

#lead div button:hover a {
  color: white;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  overflow-x: hidden;
  animation: animation-bottom 5s infinite linear;
}


#about {
  width: 100%;
  background-color: white;
  clear: both;
}

#about .about_description {
  padding-top: 50px;
  text-align: justify;
}

#about #container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

#about .person {
  padding: 40px 0;
  width: 500px;
}

#about .person img {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

#about .person h2 {
  text-align: center;
  padding-top: 10px;
}

#about .person p {
  text-align: center;
  padding: 10px;
  max-height: 250px;
  text-overflow: clip;
}

#about .person .icons {
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

#about .person .icons i {
  font-size: 40px;
  padding: 5px;
}

#about .person .icons a {
  color: black;
}

#about .person .icons .fa-linkedin:hover {
  color: rgb(0, 99, 212);
}

#about .person .icons .fa-github:hover {
  color: rgb(107, 8, 138);
}

#about .person .icons .fa-home:hover {
  color: green;
}

#technologies {
  width: 100%;
  background-color: rgb(102, 102, 102);
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.4em;
}

#technologies .container {
  width: 90%;
  text-align: center;
  color: white;
  margin: 0 auto;
}

#technologies .technology {
  width: 200px;
  background-color: white;
  border: 1px solid #bbb;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

#technologies .technology p {
  font-size: 14px;
}

#technologies .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#technologies .icons .technology img {
  width: 70px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#projects {
  width: 100%;
  background-color: white;
  /* background-image: url("../images/projects-bg.jpg");
  background-size: cover;
  background-position: center; */
}
/* 
#projects #overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
} */

#projects #overlay p {
  text-align: center;
  color: black;
  font-size: 1.4em;
  padding-top: 50px;
}

#projects #gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

#projects #gallery img {
  margin: 20px;
  width: 300px;
  height: 160px;
  /* border: 1px solid black; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.733);
}

#projects #gallery img:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.733);
  cursor: pointer;
}

#lightbox {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.733);
  position: fixed;
  top: 0px;
  left: 0px;
}

#lightbox #lightbox-items {
  width: 60%;
  margin: 30px auto;
  border: 5px solid white;
  position: relative;
  top: 20px;
}

#lightbox #lightbox-items .item {
  background-color: rgba(150, 150, 150, 0.61);
  text-align: center;
  width: 100px;
  height: 50px;
  font-size: 45px;
}

#lightbox #lightbox-items #close {
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#lightbox #lightbox-items #next {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-top-left-radius: 20px;
}

#lightbox #lightbox-items #prev {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top-right-radius: 20px;
}

#lightbox #lightbox-items img {
  width: 100%;
  padding-bottom: 20px;
  background-color: white;
  max-height: 600px;
}

#lightbox #lightbox-items #text {
  background-color: white;
  color: black;
  padding-bottom: 20px;
  text-align: center;
}

#lightbox #lightbox-items #text p a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 23, 65);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 24px;
  margin: 10px auto;
}

#contact {
  background-color: rgb(102, 102, 102);
  padding: 15px;
}

#contact h2 {
  color: white;
  text-align: center;
  padding-top: 10px;
}

#contact p {
  padding: 10px;
  height: 60px;
  display: block;
  text-align: center;
  color: #aaa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#contact i {
  font-size: 40px;
}

#contact a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  margin-left: 20px;
}

#contact input,
#contact textarea {
  display: block;
  margin: 0 auto;
  background: rgb(152, 152, 152);
  border: 0;
  padding: 3px;
  color: white;
  width: 500px;
}

#contact label {
  text-align: center;
  color: white;
  padding: 5px;
  display: block;
  margin: 0 auto;
}

#contact #submit {
  width: 506px;
  height: 40px;
  margin: 5px auto;
  background-color: rgb(1, 78, 78);
}

.d-none {
  display: none;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
}

footer p {
  text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 560px) {
  .bar1,
  .bar2,
  .bar3 {
    display: block;
  }

  nav #navbar ul li {
    display: none;
    background-color: rgba(0, 0, 0, 0.733);
  }

  #contact {
    padding: 5px 0px;
  }

  #contact form input {
    width: 100%;
    margin: 0px;
    padding: 3px 0px;
  }

  #contact form textarea {
    width: 100%;
    margin: 0px;
    padding: 3px 0px;
  }

  #contact #submit {
    width: 100%;
  }

  #lightbox #lightbox-items {
    width: 90%;
    border: 3px solid white;
  }
}
